[Unit]
Description=Back up home directory with restic
Documentation=file://%h/.config/restic/README.md

[Service]
Type=oneshot
ExecStart=%h/.local/bin/restic-backup home
Nice=10
IOSchedulingClass=idle
TimeoutStartSec=infinity
UMask=0077
