channels:
  - pyg
  - pytorch
  - nvidia
  - conda-forge
  - defaults
channel_priority: flexible
envs_dirs:
  - {{ .chezmoi.homeDir }}/miniconda3/envs
  - ./
auto_activate: false
env_prompt: '({name}) '
