{{- $credentialHelper := "/usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret" -}}
[user]
	email = {{ .email | quote }}
	name = {{ .name | quote }}
[init]
	defaultBranch = main
[fetch]
	prune = true
[merge]
	conflictStyle = zdiff3
[rerere]
	enabled = true
[diff]
	algorithm = histogram
	colorMoved = default
[commit]
	verbose = true
[url "https://github.com/"]
	insteadOf = git://github.com/
[credential]
	helper = {{ $credentialHelper }}
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	autoSetupRemote = true
