{
  "model": "opus",
  "env": {
    "ENABLE_TOOL_SEARCH": "true",
    "CLAUDE_CODE_DISABLE_BUNDLED_SKILLS": "1"
  },
  "permissions": {
    "defaultMode": "manual"
  },
  "disableRemoteControl": true,
  "statusLine": {
    "type": "command",
    "command": "bash {{ .chezmoi.homeDir }}/.claude/statusline-command.sh"
  },
  "effortLevel": "xhigh",
  "tui": "fullscreen"
}
